.dropdown a.title-select {
	min-height: 63px;
	border-radius: 3px;
}

.dropdown dd,
.dropdown dt {
	margin: 0px;
	padding: 0px;
}

.dropdown ul {
	margin: -1px 0 0 0;
}

.dropdown dd {
	position: relative;
}

.dropdown a,
.dropdown a:visited {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 12px;
}

.dropdown dt a {
	background-color: #535c69;
	display: block;
	padding: 8px 20px 5px 10px;
	min-height: 25px;
	line-height: 24px;
	overflow: hidden;
	border: 0;
}

.dropdown dt a span,
.multiSel span {
	cursor: pointer;
	display: inline-block;
	padding: 0 3px 2px 0;
	font-size: 18px;
}

.dropdown dd ul {
	z-index: 1;
	background-color: #535c69;
	border-radius: 3px;
	color: #fff;
	display: none;
	left: 0px;
	padding: 2px 15px 2px 5px;
	/*position: absolute;*/
	top: 2px;
	width: 100%;
	list-style: none;
	/*height: 100px;*/
	overflow: auto;
	margin-top: 2px;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li a {
	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	background-color: #fff;
}

button {
	background-color: #6bbe92;
	width: 100%;
	border: 0;
	padding: 10px 0;
	margin: 5px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

#reasons_call_list_block {
	display: none
}

/* --- base --- */
.zvonko {
	font: 400 16px/24px 'Roboto', Arial, Helvetica, sans-serif;
	color: #1a1a1a;
}

.zvonko,
.zvonko *,
.zvonko *::before,
.zvonko *::after {
	box-sizing: border-box;
}

/* --- zvonko fix --- */
.zvonko-fix {
	position: fixed;
	transition: .2s;
	bottom: 20px;
	left: 20px;
	z-index: 10000;
}

/* --- zvonko main btn --- */
.zvonko-main-btn {
	display: block !important;
	width: 60px;
	height: 60px;
	padding: 0;
	border: none;
	border-radius: 50%;
	background: #f4c700;
	box-shadow: 0px 2px 5px rgba(28, 117, 168, .4);
	color: #1a1a1a;
	font-size: 0;
	text-align: center;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: .3s;
	transform: translate3d(0, 0, 0);
}

.zvonko-main-btn::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.zvonko-main-btn__bbl {
	display: inline-block;
	vertical-align: middle;
	color: #1a1a1a;
	width: 60%;
	height: 60%; /*width: 46%; height: 46%; margin: 0 0 -2px -2px;*/
}

.zvonko-no-touch .zvonko-main-btn:hover {
	background: #ffba00;
}

.zvonko-no-touch .zvonko-main-btn:active,
.zvonko-main-btn:active {
	background: #ff9434;
}

/* --- zvonko btn shadow --- */
.zvonko-main-btn-shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1c75a8;
	opacity: .5;
	transform: translate3d(0, 0, 0);
	border-radius: 50%;
	z-index: 1;
	-webkit-animation: zvonko-shadow 1.4s infinite ease-in-out;
	animation: zvonko-shadow 1.4s infinite ease-in-out;
}

/* --- zvonko svg size --- */
.zvonko-main-btn svg {
	margin-top: 7px;
	max-height: 40px;
	max-width: 40px;
}

/* --- zvonko overlay --- */
.zvonko-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9900;
	visibility: hidden;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: .5s;
}

/* --- zvonko widget --- */
.zvonko-widget {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 375px;
	max-width: 100vw;
	overflow: hidden;
	z-index: 20000;
	transition: visibility .5s;
	visibility: hidden;
	cursor: default;
}

.zvonko-widget__box {
	width: 360px;
	max-width: calc(100vw - 15px);
	margin-left: -360px;
	height: 100vh;
	background-color: #fff;
	color: #1a1a1a;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: transform .5s;
}

.zvonko-widget::before,
.zvonko-widget::after {
	content: '';
	position: absolute;
	left: 0;
	width: 360px;
	max-width: calc(100vw - 15px);
	height: 20px;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
}

.zvonko-widget::before {
	top: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.zvonko-widget::after {
	bottom: 0;
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.zvonko-widget,
.zvonko-widget__box {
	transform: translate3d(0, 0, 0);
}

.zvonko-widget__container {
	display: table;
	width: 100%;
}

.zvonko-widget__container-inner {
	display: table-cell;
	vertical-align: middle;
	height: 100vh;
	padding: 20px 20px 60px;
	position: relative;
}

.zvonko-widget__container-footer {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	text-align: center;
}

/* --- zvonko link --- */
.zvonko-link.zvonko-link.zvonko-link {
	color: #288cbf;
	text-decoration: none;
	text-transform: none;
	border: none;
	font-size: 14px;
	line-height: 20px;
	transition: .2s;
}

.zvonko-no-touch .zvonko-link.zvonko-link.zvonko-link:hover {
	color: #f4c700;
	border: none;
	text-decoration: none;
}

.zvonko-widget__container-footer .zvonko-link.zvonko-link.zvonko-link {
	color: rgba(26, 26, 26, .4);
}

/* --- ul --- */
.zvonko-widget ul {
	list-style-type: none
}

ul.statistic-list {
	margin-left: -20px;
	font-size: 12px;
	line-height: initial;
}

ul.statistic-list li {
	margin-bottom: 5px
}

/* --- zvonko accordion --- */
.zvonko-accordion__item {
	margin: 0 -20px -1px;
	border-top: 1px solid #d9d9d9;
}

.zvonko-accordion__bar {
	padding: 20px;
	cursor: pointer;
	color: #288cbf;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	transition: .2s;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.zvonko-accordion__body {
	padding: 0 20px 20px;
}

.zvonko-accordion__item:not(.open) .zvonko-accordion__body {
	display: none;
}

.zvonko-accordion__item.open .zvonko-accordion__bar {
	cursor: default;
	color: #1a1a1a;
}

.zvonko-no-touch .zvonko-accordion__item:not(.open) .zvonko-accordion__bar:hover {
	color: #f4c700;
}

/* --- input --- */
.zvonko select::placeholder,
.zvonko-input.zvonko-input::placeholder {
	color: #999;
	font: 400 16px/20px 'Roboto', Arial, Helvetica, sans-serif;
	text-overflow: ellipsis;
	opacity: 1;
}

.zvonko select,
.zvonko-input.zvonko-input {
	display: block;
	width: 100%;
	max-width: 100%;
	background: transparent;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 13px 14px;
	height: 48px;
	font: 400 16px/20px 'Roboto', Arial, Helvetica, sans-serif;
	color: #1a1a1a;
	transition: .2s;
	box-shadow: none;
	outline: none;
}

.zvonko select {
	padding-left: 10px;
}

.zvonko select:hover,
.zvonko-no-touch .zvonko-input.zvonko-input:hover {
	border-color: #9d9d9d;
}

.zvonko-no-touch .zvonko-input.zvonko-input:focus,
.zvonko select:focus,
.zvonko-input.zvonko-input:focus {
	border-color: #288cbf;
}

textarea.zvonko-input.zvonko-input {
	height: 126px;
	resize: vertical;
}

.zvonko-form.zvonko-state-sending * {
	cursor: wait;
}

.zvonko-form.zvonko-state-sending .zvonko-input,
.zvonko-form.zvonko-state-sending .zvonko-btn {
	pointer-events: none;
}

.user-name-container span.clear-button-input {
	background-image: url('../img/close.png');
	height: 20px;
	width: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	top: 15px;
	right: 15px;
	background-color: initial;
	cursor: pointer;
}

button[value=auth].zvonko-btn {
	display: none
}

/* --- zvonko btn --- */
.zvonko-btn {
	margin: 0;
}

.zvonko-btn.zvonko-btn {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(50% - 10px);
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 9px 14px;
	height: 48px;
	background: transparent;
	box-shadow: none;
	font: 400 16px/28px 'Roboto', Arial, Helvetica, sans-serif;
	color: #1a1a1a;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	transition: .2s;
	outline: none;
	cursor: pointer;
}

.zvonko-no-touch .zvonko-btn.zvonko-btn:hover {
	border-color: #9d9d9d;
	color: #1a1a1a;
}

.zvonko-no-touch .zvonko-btn.zvonko-btn:active,
.zvonko-btn.zvonko-btn:active {
	border-color: #288cbf;
	color: #1a1a1a;
}

.zvonko-btn.zvonko-btn--primary {
	background-color: #f4c700;
	border-color: #f4c700;
	color: #1a1a1a;
}

.zvonko-no-touch .zvonko-btn.zvonko-btn--primary:hover {
	background-color: #ffba00;
	border-color: #ffba00;
	color: #1a1a1a;
}

.zvonko-no-touch .zvonko-btn.zvonko-btn--primary:active,
.zvonko-btn.zvonko-btn--primary:active {
	background-color: #ff9434;
	border-color: #ff9434;
	color: #1a1a1a;
}

.zvonko-btn.zvonko-btn--icon {
	border: none;
	padding: 0;
	height: auto;
}

.zvonko-btn.zvonko-btn--icon img {
	max-width: 32px;
	max-height: 32px;
}

.zvonko-no-touch .zvonko-btn.zvonko-btn--icon:hover {
	opacity: .8;
}

/* --- zvonko-inline-form --- */
.zvonko-inline-form {
	display: table;
	width: 100%;
}

.zvonko-inline-form__input,
.zvonko-inline-form__btn {
	display: table-cell;
	vertical-align: top;
}

.zvonko-inline-form__btn {
	width: 1px;
	padding-left: 20px;
}

.zvonko-inline-form__input {
	width: 99%;
}

/* --- zvonko-form-msg --- */
.zvonko-form-msg {
	font-size: 14px;
	line-height: 20px;
	margin: 12px 0 0;
	display: none;
}

.zvonko-form-msg:first-child {
	margin-top: 0;
}

.zvonko-form-msg--default {
	display: block;
}

.zvonko-form-msg--offset {
	margin-top: 15px;
}

.zvonko-form-msg__countdown {
	font-size: 40px;
	line-height: 56px;
	font-weight: 700;
	text-align: center;
}

.zvonko-form-msg__countdown--sm {
	font-size: 36px;
}

.zvonko-form-msg__countdown-msg {
	margin: 12px 0;
}

.zvonko-form-msg__countdown-msg:first-child {
	margin-top: 0;
}

.zvonko-form-msg__countdown-msg:last-child {
	margin-bottom: 0;
}

.zvonko-form-msg--error {
	color: #c92433 !important;
}

.zvonko-form-msg--success {
	color: #a8d924 !important;
}

.zvonko-form.zvonko-state-sending .zvonko-form-msg--default,
.zvonko-form.zvonko-state-success .zvonko-form-msg--default,
.zvonko-form.zvonko-state-error .zvonko-form-msg--default,
.zvonko-form.zvonko-state-time-up .zvonko-form-msg--default {
	display: none;
}

.zvonko-form.zvonko-state-sending .zvonko-form-msg--sending,
.zvonko-form.zvonko-state-success .zvonko-form-msg--success,
.zvonko-form.zvonko-state-error .zvonko-form-msg--error,
.zvonko-form.zvonko-state-time-up .zvonko-form-msg--time-up {
	display: block;
}

.zvonko-form.zvonko-state-time-up .zvonko-form-msg--success {
	display: none;
}

div[data-telephony-part="interests"],
div[data-telephony-part="notes"],
div[data-telephony-part="statistic"] {
	display: none
}

/* --- zvonko-form-text --- */
.zvonko-form-text {
	font-size: 14px;
	line-height: 20px;
	margin: 20px 0;
}

.zvonko-form-text:first-child {
	margin-top: 0;
}

.zvonko-form-text:last-child {
	margin-bottom: 0;
}

/* --- zvonko form row --- */
.zvonko-form-row {
	margin-bottom: 15px;
	display: block
}

.zvonko-form-row:last-child,
.zvonko-form-row--last {
	margin-bottom: 0;
}

.zvonko-form-row--offset {
	margin-top: 20px;
}

.zvonko-form-row.zvonko-state-error .zvonko-input,
.zvonko-no-touch .zvonko-form-row.zvonko-state-error .zvonko-input,
.zvonko-form-row.zvonko-state-error .zvonko-input {
	border-color: #ec929a;
}

.zvonko-no-touch .zvonko-form-row.zvonko-state-error .zvonko-input:hover,
.zvonko-no-touch .zvonko-form-row.zvonko-state-error .zvonko-input:focus,
.zvonko-form-row.zvonko-state-error .zvonko-input:focus {
	border-color: #c92433;
}

.zvonko-form-row.zvonko-state-success .zvonko-input:not(:hover):not(:focus) {
	border-color: #a8d924;
}

/* --- zvonko-form-label --- */
.zvonko-form-label {
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 8px;
	padding: 0;
	font-weight: 400;
}

/* --- zvonko rich text input --- */
.zvonko-rti {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	font: inherit;
}

.zvonko-rti__input.zvonko-rti__input {
	padding: 21px 14px 7px 14px;
	box-shadow: 0px 0px 0px 1000px #fff inset;
	color: rgba(26, 26, 26, 0);
	transition: .2s, color .1s;
}

textarea.zvonko-rti__input.zvonko-rti__input {
	padding: 20px 14px 13px 14px;
}

.zvonko-rti__label {
	position: absolute;
	top: 1px;
	padding-top: 9px;
	left: 15px;
	right: 15px;
	transition: .2s;
	outline: none;
	cursor: text;
	pointer-events: none;
	font: 400 16px/28px 'Roboto', Arial, Helvetica, sans-serif;
	color: rgba(26, 26, 26, .4);
	background-color: #fff;
	box-shadow: 0px 2.5px 1.5px #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	transform: translate3d(0, 0, 0);
}

.zvonko-rti__input:focus ~ .zvonko-rti__label,
.zvonko-rti--active .zvonko-rti__label {
	padding-top: 4px;
	font-size: 12px;
	line-height: 16px;
}

.zvonko-rti__input:focus,
.zvonko-rti--active .zvonko-rti__input {
	color: #1a1a1a;
	transition: .2s, color .1s ease .1s;
}

.zvonko-no-touch .zvonko-form-row.zvonko-state-error .zvonko-rti__label {
	color: #ec929a;
}

/* --- zvonko-form-error-msg --- */
.zvonko-form-error-msg {
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin: 8px 0;
	padding: 0;
	font-weight: 400;
	color: #c92433;
}

.zvonko-form-error-msg:last-child {
	margin-bottom: 0;
}

.zvonko-form-row:not(.zvonko-state-error) .zvonko-form-error-msg {
	display: none;
}

.contact-conversion-message {
	display: none
}

/* --- zvonko form --- */
.zvonko-form.zvonko-state-success .zvonko-form__inputs {
	display: none;
}

.zvonko-form.zvonko-state-error .zvonko-form__inputs {
	display: none
}

.zvonko-form--call .zvonko-form-msg--success,
.zvonko-form--call .zvonko-form-msg--time-up,
.zvonko-form--msg .zvonko-form-msg--success {
	color: #1a1a1a;
	margin-top: 0;
}

.zvonko-form--msg .zvonko-form-msg--offset {
	margin-top: 15px;
}

/* --- zvonko-close --- */
.zvonko-close {
	display: block;
	position: -webkit-sticky;
	position: sticky;
	top: 5px;
	margin: -15px -15px 5px auto;
	width: 60px;
	height: 60px;
	background-color: rgba(255, 255, 255, .7);
	padding: 0;
	cursor: pointer;
	transition: .2s;
	z-index: 10;
	border-radius: 4px;
	transform: translate3d(0, 0, 0);
}

.zvonko-close::before,
.zvonko-close::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 2px;
	background-color: #1a1a1a;
	margin: -1px 0 0 -20px;
}

.zvonko-close::before {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.zvonko-close::after {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.zvonko-no-touch .zvonko-close:hover {
	background-color: #ffba00;
}

.zvonko-no-touch .zvonko-close:active,
.zvonko-close:active {
	background-color: #ff9434;
}

/* --- zvonko-labels --- */
.zvonko-labels {
	display: none;
}

/* --- zvonko chat and social btns --- */
.zvonko-chat-btns,
.zvonko-social-btns {
	margin: 20px -10px -10px 0;
}

.zvonko-chat-btns .zvonko-btn,
.zvonko-social-btns .zvonko-btn {
	margin: 0 10px 10px 0;
}

.zvonko-chat-btns:first-child,
.zvonko-social-btns:first-child {
	margin-top: 0;
}

/*.zvonko-widget-open > *{-webkit-filter: blur(3px); filter: blur(3px); transition: -webkit-filter .3s; transition: filter .3s;}*/
.zvonko-widget-open .zvonko-overlay {
	visibility: visible;
	opacity: 1;
	-webkit-filter: none;
	filter: none;
	transition: .5s;
}

.zvonko-widget-open .zvonko {
	-webkit-filter: none;
	filter: none;
	transition: .3s;
}

.zvonko-widget-open .zvonko-widget {
	visibility: visible;
}

.zvonko-widget-open .zvonko-widget::before,
.zvonko-widget-open .zvonko-widget::after {
	opacity: 1;
	transition: .2s ease .5s;
}

.zvonko-widget-open .zvonko-widget__box {
	transform: translate3d(100%, 0, 0);
}

.zvonko-widget-open .zvonko-fix {
	opacity: 0;
	visibility: hidden;
}

@-webkit-keyframes zvonko-shadow {
	0%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1) translate3d(0, 0, 0);
		opacity: .25;
	}
	50% {
		-webkit-transform: scale(0.9999);
		transform: scale(1.5) translate3d(0, 0, 0);
		opacity: .5;
	}
}

@keyframes zvonko-shadow {
	0%, 100% {
		-webkit-transform: scale(1);
		transform: scale(1) translate3d(0, 0, 0);
		opacity: .25;
	}
	50% {
		-webkit-transform: scale(0.9999);
		transform: scale(1.5) translate3d(0, 0, 0);
		opacity: .5;
	}
}

@media (max-width: 759px) and (min-width: 480px) and (orientation: landscape) {
	.zvonko-widget {
		width: 100vw;
	}

	.zvonko-widget__box {
		width: 100vw;
		margin-left: -100vw;
	}

	.zvonko-labels {
		float: left;
		width: calc(30% + 20px);
		min-width: 160px;
		margin-left: -20px;
		display: block;
	}

	.zvonko-labels__label {
		padding: 10px 20px;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		margin: 0 -1px -1px 0;
		color: #288cbf;
		transition: .2s;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
	}

	.zvonko-labels__label.open {
		background-color: #fff;
		color: #1a1a1a;
	}

	.zvonko-labels ~ .zvonko-accordion {
		width: calc(70% + 20px);
		max-width: calc(100% - 120px);
		margin-left: auto;
		margin-right: -20px;
		padding: 20px;
		min-height: 124px;
		border: 1px solid #d9d9d9;
		border-right: none;
	}

	.zvonko-accordion__item {
		border: none;
		margin: 0;
	}

	.zvonko-accordion__bar {
		display: none;
	}

	.zvonko-accordion__body {
		padding: 0;
	}

	.zvonko-accordion__body > .zvonko-form-text:first-child,
	.zvonko-accordion__body > .zvonko-form:first-child > .zvonko-form-text:first-child {
		margin-top: -8px;
	}
}

.hidden_urik {
	display: none;
}

.zvonko-rti__label.urik {
	top: -11px;
	left: 25px;
}

@media (max-width: 580px) and (orientation: landscape) {
	.zvonko-labels__label {
		padding: 10px;
	}
}

@media (max-width: 375px) {
	.zvonko-widget__box {
		margin-left: -100vw;
		max-width: none;
		width: 100%;
	}
}

@media print {
	.zvonko {
		display: none;
	}
}

@media (max-width: 767px) {
	/* --- zvonko main btn --- */
	.zvonko-main-btn {
		width: 50px;
		height: 50px;
	}

	/* --- zvonko fix --- */
	.zvonko-fix {
		bottom: 20px;
		left: 20px;
	}
}